version: '3.8'
services:
  server_zookeeper:
    networks:
      - server_net
    image: 'bitnami/zookeeper:latest'
    hostname: zookeeper
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes

  server_broker:
    networks:
      - server_net
    image: 'bitnami/kafka:latest'
    ports:
      - '9030:9030'
    hostname: broker
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CLIENT:PLAINTEXT,EXTERNAL:PLAINTEXT
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=CLIENT
      - KAFKA_CFG_LISTENERS=CLIENT://:29000,EXTERNAL://:9030
      - KAFKA_CFG_ADVERTISED_LISTENERS=CLIENT://broker:29000,EXTERNAL://localhost:9030
    depends_on:
      - server_zookeeper
    healthcheck:
      test: /opt/bitnami/kafka/bin/kafka-topics.sh --bootstrap-server localhost:29000 --list
      interval: 2s
      start_period: 10s
      timeout: 15s
      retries: 100

  server_kafka_ui:
    networks:
      - server_net
    image: 'provectuslabs/kafka-ui:latest'
    ports:
      - '9020:8080'
    depends_on:
      - server_broker
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=broker:29000

  server_monitor:
    networks:
      - server_net
    image: delivery-monitor:latest
    depends_on:
      server_broker:
        condition: service_healthy
    environment:
      KAFKA_BOOTSTRAP_SERVER: 'server_broker:29000'

  server_auth:
    networks:
      - server_net
    image: delivery-authentication:latest
    depends_on:
      - server_monitor
    environment:
      KAFKA_BOOTSTRAP_SERVER: 'server_broker:29000'

  server_comms:
    hostname: server-com
    networks:
      - server_net
      - comms_net
    image: delivery-communication:latest
    depends_on:
      - server_monitor
    environment:
      PORT: 9010
      KAFKA_BOOTSTRAP_SERVER: 'server_broker:29000'
      MESSAGES: 'ccu.DeliveryStatusRequest,ccu.NewTaskRequest'
  #      SERVER_URI: 'robot-com:9010'

  server_fms:
    networks:
      - server_net
      - web_net
    image: delivery-fms:latest
    hostname: server-fms
    ports:
      - "9040:9040"
    depends_on:
      - server_monitor
      - server_comms
      - server_auth
    environment:
      KAFKA_BOOTSTRAP_SERVER: 'server_broker:29000'

  server_store:
    networks:
      - web_net
    restart: always
    image: delivery-store:latest
    volumes:
      - ./certs/server_sign_keystore.p12:/app/server_sign_keystore.p12:ro
    ports:
      - "9044:9044"
    depends_on:
      - server_fms
    environment:
      FMS_URL: "http://server-fms:9040"
      KS_PATH: "server_sign_keystore.p12"
      KS_PASS: "ahmai6oacaitioNg3requohk9OeHijoo"

networks:
  web_net:
    driver: bridge
  server_net:
    driver: bridge
  comms_net:
    external: true